{__NOLAYOUT__}
<style>
    .control-label {color:black}
</style>
<div class="modal-over animated fadeInUp"  style="width:50%;height:30%;margin:10% auto;background: #fff;padding-top:30px;overflow:auto">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12" style="height: 15px;"></div>
            <div class="col-sm-7" style="">
                <form id="formAjax" class="form-horizontal" role="form" method="post" action="{:U('Content/modCateAjax')}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="cate_name" maxlength="30" style="width: 200px;" value="{$info.cate_name}" placeholder="输入名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类备注：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="desc" maxlength="255" style="width: 200px;" value="{$info.desc}" placeholder="非必填">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center">
                            <input type="hidden" name="cate_id" value="{$info.id}">
                            <button class="btn btn-facebook save" type="button">保存</button>
                            <button id="dismiss" class="btn btn-warning dismiss" type="button" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5" style="">
                <img class="image" src="" style="width:100%">
            </div>

        </div>
    </div>
</div>
<script>

    $(".save").click(function(){
        $(this).attr('disabled',true);
        var self = $(this);
        var cate_name = $("input[name='cate_name']").val();
        var desc = $("input[name='desc']").val();
        var id = $("input[name='cate_id']").val();
        if(cate_name == '') {
            alert('名称不能为空');
            self.attr('disabled',false);
            return
        }
        $("#formAjax").ajaxSubmit({
            url: "{:U('Content/modCateAjax')}",
            enctype:"multipart/form-data",
            type: "post",
            dataType:'json',
            success: function (data){
                console.log(data)
                if(data.code == 1) {
                    $("#dismiss").click()
                    $("#mark"+id).html(data.data.cate_name+'<span class="fa fa-pencil" style="position: absolute;right:0;top:0;color:#fff;font-size: 18px"></span>')
                }else {
                    alert(data.data)
                }
                self.attr('disabled',false);
            },
            error: function (data)
            {
                alert("出错");
                self.attr('disabled',false);
            }
        })
    })

</script>
