<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<header class="header bg-white b-b b-light">
    <p><a href="">企业入驻</a>&nbsp;&nbsp;<i class="fa fa-angle-double-right">&nbsp;&nbsp;<a href="">修改企业信息</a></i></p>
</header>
<style>
    .waterfall{
        -moz-column-count:4; /* Firefox */
        -webkit-column-count:4; /* Safari 和 Chrome */
        column-count:4;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
        column-gap: 1em;
    }
    /*一个内容层*/
    .float-img{
        position: relative;
        padding: 1em;
        margin: 0 0 1em 0;
        -moz-page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        border: 1px solid #000;
    }
</style>
<section class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" id="formAjax" method="post" action="{:U('Content/modCo')}" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">企业名称</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="name" value="{$info.name}" maxlength="30" placeholder="" required>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">副标题</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="desc" value="{$info.desc}" maxlength="255" placeholder="" required>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">企业简介</label>
                <div class="col-sm-10">
                    <textarea id="editor" name="content" type="text/plain" style="width:1024px;height:500px;">{$info.content}</textarea>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="form-group" style="height:5px">
                <foreach name="cover" item="for">
                    <input type="hidden" id="file{$key}" name="cover[]" value="{$for}">
                </foreach>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上传图片(最多3张)</label>
                <div class="col-sm-10">
                    <div class="reveal-box">
                        <div id="waterfall" class="waterfall">
                            <foreach name="cover" item="item">
                                <div class="float-img" title="{$key}">
                                    <span class="fa fa-times-circle" style="font-size: 30px;position:absolute;right:15px;top:15px"></span>
                                    <img src="/{$item}" style="width:100%;background: #eee">
                                </div>
                            </foreach>
                            <div class="float-img">
                                <img src="__PUBLIC__/img/add_icon.png" style="width:100%;background: #eee"  id="add-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否推荐</label>
                <div class="col-sm-10">
                    <label class="switch">
                        <input type="checkbox" name="is_recommend" value="1" <if condition="$info['is_recommend'] eq 1">checked</if> >
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <input type="hidden" name="TOKEN" value="{$Think.session.TOKEN}">
                    <input type="hidden" name="company_id" value="{$info.id}">
                    <button type="submit" id="submit" class="btn btn-primary">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script>

    var ue = UE.getEditor('editor')

    $(".fa-times-circle").click(function(){
        $('#file'+$(this).parent().attr('title')).remove()
        $(this).parent().remove();
    })



    var add_icon = $("#add-button"),uploadForm = $("#formAjax");

    add_icon.click(function(){
        var times = new Date()
        var i = times.getTime()
        console.log(i)

        var child_num = $('#waterfall').children().length
        console.log(child_num)
        if(child_num >= 4) {
            return false;
        }

        uploadForm.append('<input type="file" id="file' + i + '" name="file' + i + '" style="display: none">');

        $("#file"+i).click();

        $("#file"+i).change(function(e){
            if(checkfile(i) !== true) {
                $("#file"+i).remove()
                return
            }

            var img = e.target.files[0];
            var src = window.URL.createObjectURL(img);
            $(add_icon).parent().before('<div class="float-img" title="' + i + '"><span class="fa fa-times-circle" style="font-size: 30px;position:absolute;right:15px;top:15px"></span><img src="' + src + '" id="img' + i + '" width="100%"></div>');

            $(".fa-times-circle").bind('click',function(){
                $('#file'+$(this).parent().attr('title')).remove()
                $(this).parent().remove();
            })
        });


        var maxsize = 512*1024;//2M
        var errMsg = "上传的附件文件不能超过512K！！！";
        var tipMsg = "您的浏览器暂不支持计算上传文件的大小，确保上传文件不要超过512K，建议使用IE、FireFox、Chrome浏览器。";
        var browserCfg = {};

        var ua = window.navigator.userAgent;
        if (ua.indexOf("MSIE")>=1){
            browserCfg.ie = true;
        }else if(ua.indexOf("Firefox")>=1){
            browserCfg.firefox = true;
        }else if(ua.indexOf("Chrome")>=1){
            browserCfg.chrome = true;
        }

        function checkfile(fileId){

            if(typeof FileReader != 'undefined'){
                var file = document.getElementById("file" + fileId).files[0];
                if((file.type).indexOf("image/")==-1){
                    alert('请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!!!!');
                    return false;
                }
            }else{
                var fileName=document.getElementById("file" + fileId).value;
                var suffixIndex=fileName.lastIndexOf(".");
                var suffix=fileName.substring(suffixIndex+1).toUpperCase();
                if(suffix!="BMP"&&suffix!="JPG"&&suffix!="JPEG"&&suffix!="PNG"&&suffix!="GIF"){
                    alert("请上传图片（格式BMP、JPG、JPEG、PNG、GIF等）!");
                    return false;
                }
            }

            try{
                var obj_file = document.getElementById("file" + fileId);
                if(obj_file.value==""){
                    alert("请先选择上传文件");
                    return false;
                }
                var filesize = 0;

                if(browserCfg.firefox || browserCfg.chrome ){
                    filesize = obj_file.files[0].size;
                }else if(browserCfg.ie){
                    var obj_img = document.getElementById('img' + fileId);
                    obj_img.dynsrc=obj_file.value;
                    filesize = obj_img.fileSize;
                }else{
                    alert(tipMsg);
                    return false;
                }

                if(filesize==-1){
                    alert(tipMsg);
                    return false;
                }else if(filesize>maxsize){
                    alert(errMsg);
                    return false;
                }else{
                    return true;
                }
            }catch(e){
                alert(e);
                return false;
            }
            return false;
        }


    })







</script>