<!doctype html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>公司简介</title>
		<script src='__PUBLIC__/assets/js/public_fz.js'></script>
		<link rel="stylesheet" href="__PUBLIC__/assets/css/public_reset.css">
		<link rel="stylesheet" href="__PUBLIC__/assets/css/public_common.css">
		<style>
				.company{
						font-size:0.26rem;
						color: #222;
						line-height: 0.48rem;
						text-align: justify;
						padding: 0.6rem 0.25rem;
				}
				.company_img{
						display: flex;
						align-items: center;
						justify-content:center;
				}
				.company_img img{
						width: 100%;
				}
				.company p img{width: 100%!important;height: auto!important;}

		</style>
</head>
<body>
<!--<div class='company_img'>-->
		<!--<img src="__PUBLIC__/assets/images/company.png" alt="">-->
<!--</div>-->
<div class='company'>
	{$info.profile|htmlspecialchars_decode}
</div>
</body>
</html>