<!doctype html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>预约参观</title>
		<script src='__PUBLIC__/assets/js/public_fz.js'></script>
		<link rel="stylesheet" href="__PUBLIC__/assets/css/public_reset.css">
		<link rel="stylesheet" href="__PUBLIC__/assets/css/public_common.css">
		<style>
				.visit{
						color: #FF7500;
						font-size:0.3rem;
						padding: 0.35rem 0.25rem 0 0.25rem;
				}
				.visit_content{
						font-size:0.26rem;
						color: #222;
						line-height: 0.48rem;
						padding: 0.54rem 0.25rem 0.35rem 0.25rem;
				 }
				.visit_img{
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0 0.25rem;
				}
				.visit_img img{
						width: 100%;
				}
		</style>
</head>
<body>
<div  class='visit'>参观时间：2018年9月25日</div>
<div  class='visit'>参观主题：双创活动开幕仪式</div>
<div class='visit_content'>
		2014年，一只小红薯诞生于湖南长沙，定位“中高端薯产品专卖开创品牌”。门店产品丰富，集中了薯产品所有能够标准化量产的产品，包括烤红薯、芝士番薯、蜜薯盒子、薯类酥品、薯泡芙等40多种产品。
</div>
<div class='visit_img'>
		<img src="__PUBLIC__/assets/images/visit.png" alt="">
</div>
</body>
</html>