<style>
    .reveal-modal {
        padding: 15px;
    }

    .reveal-modal .reveal-box {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .reveal-modal .reveal-box label {
        margin-bottom: 0;
    }

    .reveal-modal .button-box {
        text-align: right;
    }

    .reveal-modal .button-box .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<header class="header bg-white b-b b-light">
    <p><a href="">个人中心</a>&nbsp;&nbsp;<i class="fa fa-angle-double-right">&nbsp;&nbsp;<a href="">修改密码</a></i></p>
</header>
<section class="panel panel-default">
    <form class="form-horizontal" method="post">
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="form-group has-success">
            <label class="col-sm-2 control-label">设置新密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" value="" required>
            </div>
        </div>
        <div class="form-group has-success">
            <label class="col-sm-2 control-label">确认新密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="repassword" value="" required>
            </div>
        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="form-group has-success">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="button" id="send-btn" class="btn btn-success">修改密码</button>
            </div>
        </div>
    </form>
</section>
<div id="myModal" class="reveal-modal" style="display: none;">
    <div class="reveal-box">
        <div class="col-sm-12">
            <input type="password" class="form-control" name="oldpassword" value=""/>
        </div>
    </div>
    <div class="button-box">
        <button type="button" class="btn btn-default btn-rounded" data-reveal-id="myModal" data-animation="none"
                style="margin-right: 20px;" onclick="layerClose()">取消
        </button>
        <button type="button" class="btn btn-primary btn-rounded"
                style="margin-right: 20px;" onclick="pushMessage()">确定
        </button>
    </div>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script>
    $('#send-btn').on('click', function () {
        layerIndex = layer.open({
            type: 1,
            title:'输入原密码',
            area: ['600px'],
            shadeClose: true, //点击遮罩关闭
            content: $('#myModal')
        });
    });

    function layerClose() {
        layer.close(layerIndex);
    }

    function pushMessage() {
        layer.close(layerIndex);
        var password = $("input[name='password']").val();
        var repassword = $("input[name='repassword']").val();
        var oldpassword = $("input[name='oldpassword']").val();
        if(password == '') {
            layer.msg('密码不能为空',{icon:2});return;
        }
        if(repassword != password) {
            layer.msg('密码不一致',{icon:2});return;
        }

        $.post("{:U('Login/checkOldPassword')}",{oldpassword:oldpassword},function(data){
            if(data == 1) {
                $.post("{:U('Login/changeMyPassword')}",{password:password},function(msg){
                    if(msg == 1) {
                        layer.msg('修改成功',{icon:1});
                    }else {
                        layer.msg('修改失败',{icon:2});
                    }
                });
            }else {
                layer.msg('原密码错误',{icon:5});
            }
        });

    }


</script>